---
interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<li
  class="link-card list-none flex p-[1px] bg-[#23262d] bg-none bg-[size:400%] rounded-[7px] bg-[position:100%] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] transition-[background-position_0.6s_cubic-bezier(0.22,1,0.36,1)] hocus:bg-[position:0] hocus:bg-accent-gradient"
>
  <a
    href={href}
    class="w-full no-underline leading-[1.4] p-[calc(1.5rem-1px)] rounded-lg text-whiteEyes bg-[#23262d] opacity-80"
  >
    <h2
      class="text-[1.25rem] transition-[color_0.6s_cubic_bezier[0.22,1,0.36,1)] font-bold hocus:text-accent-light"
    >
      {title}
      <span class="font-bold">&rarr;</span>
    </h2>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</li>
<!--
	<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
-->
